<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>

    </head>
    <body>
    <div>
        <a th:href="@{/cats/new}" class="btn btn-primary" type="submit" th:text="#{create_cat}">Create Cat</a>
    </div>
    <div class="table-responsive">
       <div>
           <a class="btn btn-primary" th:if="${param.eyeColor}" th:href="@{/cats/}" th:text="#{cat.ALL}">ALL</a>
           <a class="btn btn-primary" th:if="${#httpServletRequest.getParameter('eyeColor') != 'BLACK'}" th:href="@{/cats(eyeColor=BLACK)}" th:text="#{cat.black}">Black</a>
           <a class="btn btn-primary" th:if="${#httpServletRequest.getParameter('eyeColor') != 'GREEN'}" th:href="@{/cats(eyeColor=GREEN)}" th:text="#{cat.green}">Green</a>
           <a class="btn btn-primary" th:if="${#httpServletRequest.getParameter('eyeColor') != 'BLUE'}" th:href="@{/cats(eyeColor=BLUE)}" th:text="#{cat.blue}">Blue</a>
           <a class="btn btn-primary" th:if="${#httpServletRequest.getParameter('eyeColor') != 'YELLOW'}" th:href="@{/cats(eyeColor=YELLOW)}" th:text="#{cat.yellow}">Yellow</a>
           <a class="btn btn-primary" th:if="${#httpServletRequest.getParameter('eyeColor') != 'GRAY'}" th:href="@{/cats(eyeColor=GRAY)}" th:text="#{cat.gray}">Gray</a>
       </div>

        <table id="cat-table" class="table table-bordered">
            <thead>
            <tr>
                <th th:text="#{common.name}">Name</th>
                <th th:text="#{common.color}">Color</th>
                <th th:text="#{common.age}">Age</th>
                <th th:text="#{common.gender}">Gender</th>
                <th th:text="#{common.isAlive}">isAlive</th>
                <th th:text="#{common.eyeColor}">Eye Color</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat:${cats}" th:object="${cat}">
                <td th:text="*{name}"></td>
                <td th:text="*{color}"></td>
                <td th:text="*{age}"></td>
                <td th:text="*{gender}"></td>
                <td th:text="*{alive}"></td>
                <td th:text="*{eyeColor.message}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/cats/' + ${cat.id} + '/update'}" th:text="#{update_cat}">Update Cat</a>
                    <form method="post" th:action="@{'/cats/' + ${cat.id} + '/delete'}">
                        <button class="btn btn-danger" type="submit" th:text="#{delete_cat}">Delete Cat</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>

    <script>
        $(document).ready( function () {
        $('#cat-table').DataTable();
        } );
    </script>
    </body>

</th:block>
</html>