<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
<head>

    </head>
    <body>
    <div>
        <form method="post" th:action="@{/cats/new}" th:object="${cat}">

            <div class="form-group">
                <label for="name" th:text="#{common.name}">Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div class="form-group">
                <label for="color" th:text="#{common.color}">Color</label>
                <input class="form-control" type="text" id="color" th:field="*{color}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
            </div>

            <div class="form-group">
                <label for="age" th:text="#{common.age}">Age</label>
                <input class="form-control" type="number" id="age" th:field="*{age}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            </div>

                <label for="gender" th:text="#{common.gender}">Gender</label>
                <select id="gender" th:field="*{gender}">
                    <option value=""></option>
                    <option
                            th:each="gender:
                            ${T(com.gitlab.tolgaybalci.spring.boot.catproject.catprojectapplication.domain.Gender).values()}"
                            th:value="${gender}"
                            th:text="${gender}">
                    </option>
                </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>

            <label for="eyeColor" th:text="#{common.eyeColor}">Eye Color</label>
            <select id="eyeColor" th:field="*{eyeColor}">
                <option value=""></option>
                <option
                        th:each="eyeColor:
                            ${T(com.gitlab.tolgaybalci.spring.boot.catproject.catprojectapplication.domain.EyeColor).values()}"
                        th:value="${eyeColor}"
                        th:text="${eyeColor}">
                </option>
            </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('eyeColor')}" th:errors="*{eyeColor}"></div>

            <button class="btn btn-primary" type="submit" th:text="#{create_cat}">Create Cat</button>
        </form>
    </div>
    </body>
</th:block>
</html>