<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <form method="post" th:action="@{'/cats/'+${cat.id}+'/update'}" th:object="${cat}">

        <div class="form-group">
            <label for="name" th:text="#{common.name}">Name</label>
            <input type="text" th:value="*{name}" id="name" th:field="*{name}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label for="color" th:text="#{common.color}">Color</label>
            <input type="text" th:value="*{color}" id="color" th:field="*{color}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
        </div>

        <div class="form-group">
            <label for="age" th:text="#{common.age}">Age</label>
            <input type="number" th:value="*{age}" id="age" th:field="*{age}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>

        <div class="form-group">
        <label for="gender" th:text="#{common.gender}">Gender</label>
        <select class="form-control" id="gender" th:field="*{gender}" th:value="*{gender}">
            <option value="" th:text="#{common.select_gender}">Select Gender</option>
            <option
                    th:each="gender :
                            ${T(com.gitlab.tolgaybalci.spring.boot.catproject.catprojectapplication.domain.Gender).values()}"
                    th:value="${gender}"
                    th:text="${gender}">
            </option>
        </select>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
    </div>

        <div class="form-group">
            <label for="isAlive" th:text="#{common.isAlive}">Is Alive</label>
            <input type="text" th:value="*{alive}" id="isAlive" th:field="*{alive}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('alive')}" th:errors="*{alive}"></div>
        </div>

        <div class="form-group">
            <label for="eyeColor" th:text="#{common.eyeColor}">Eye Color</label>
            <select class="form-control" id="eyeColor" th:field="*{eyeColor}" th:value="*{eyeColor}">
                <option value="" th:text="#{common.select_eyeColor}">Select Eye Color</option>
                <option
                        th:each="eyeColor :
                            ${T(com.gitlab.tolgaybalci.spring.boot.catproject.catprojectapplication.domain.EyeColor).values()}"
                        th:value="${eyeColor}"
                        th:text="${eyeColor}">
                </option>
            </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('eyeColor')}" th:errors="*{eyeColor}"></div>
        </div>

        <button class="btn btn-primary" type="submit" th:text="#{update_cat}">Update Cat</button>
    </form>
    </body>
</th:block>
</html>