<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{common.title}">Welcome to Cat Management Page</title>
    </head>
    <body>
    <h2 th:text="#{common.dashboard}">Dashboard</h2>
    </body>
</th:block>
</html>
