<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="#{common.simple_title}">Simple Cat Management Application</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- Page level plugin CSS-->
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet">


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#" th:text="#{common.manager}">Cat Manager</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">

                <ul class="sidenav-second-level ">
                    <li>
                        <a th:href="@{/cats}" th:text="#{common.cats}">Cats</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">

                <ul class="sidenav-second-level ">
                    <li>
                        <a th:href="@{/logout}" th:text="#{common.logout}">Logout</a>
                    </li>
                </ul>
            </li>



            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <th:block layout:fragment="content"/>
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small th:text="#{common.identification}">CopyLeft Cat Management 2018</small>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>
<!-- Custom scripts for this page-->
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
<script th:src="@{/js/sb-admin-charts.min.js}"></script>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>


</body>

</html>
